link(href='https://fonts.googleapis.com/css?family=Rubik:700' rel='stylesheet' type='text/css')

main
  .logo
    h1.logo__title 
      span Trust 
      span the 
      span Rooster
    //- img.logo__img(src='' title='Rooster')
