/* RESET */
*, :after, :before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

p {
  line-height: 1.2;
}

/*///////////////////////*/

#app {
  height: 100%;
}

.button {
  background: transparent;
  color: #CA3A36;
  border: 0.25em solid #CA3A36;
  padding: 0.5em 1em;
  font-size: 0.875em;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: #CA3A36;
    color: white;
  }

  & + & {
    margin-left: 1em;
  }
}
